h1 {
    background-color:beige;
    text-align: center;
    height: 50px;
    margin-bottom: 5px;
}
table {
    
    width: 95%;
    text-align: center;
    margin: 0 auto;
}
div {
    background-color: beige;
    padding: 5px;
    margin-top: 5px;
}
img {
    max-height: 230px;
}